main{
  width: 100%;
  height: auto;
  padding: 10vh;
}
	.mobile{
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0vh;
}
	.mobile .image{
		width: 76vh;
    height: auto;
    margin: 26px;
}
	.-img{
		width: 100%;
		height: 100%;
		object-fit: contain;
		border-radius: 6px;
		-webkit-box-shadow: -1px -1px 5px 2px rgba(230,230,230,1);
		-moz-box-shadow: -1px -1px 5px 2px rgba(230,230,230,1);
		box-shadow: -1px -1px 5px 2px rgba(230,230,230,1);
	}
